.body {
    font-family: Arial, sans-serif;
    background-color: #061121; 
    background-image: url('/static/background.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
} 

.logo {
    width: 500px; 
    height: auto;
}

.label{
    color: #1c63c1;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
}

h1 {
    color: #2c3e50; 
}

form {
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 8px;
    max-width: 400px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 375px;
    padding: 10px;
    margin: 20px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #3498db; 
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 395px;
}

button:hover {
    background-color: #2980b9; 
}

.results {
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    max-width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.results ul {
    list-style-type: decimal; 
    padding-left: 20px; 
}

a {
    color: #3498db; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
}
        