<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Input Form</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="body">
    <header class="body">
        <img src="/static/Logo.png" alt="Logo" class="logo"> <!-- Replace with your logo URL -->
    </header>

    <h1></h1>
    <form action="/submit" method="post">
        <label for="code" class="label"><b>Enter your Code:</b></label>
        <input type="text" id="code" name="code" required />
        <button type="submit">Submit</button>
    </form>
    
    
</body>
</html>
