<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table</title>
  <link 
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  />
  <link rel="stylesheet" href="/static/table.css" />
</head>
<body class="bg-white flex items-center justify-center min-h-screen p-6">
  <div class="container">
    <div class="table-wrapper">
      <div class="table-header">
        <h1>Data List</h1><a href="/" class="back"><img src="/static/reset.png" alt="Go Back / Reset" class="back"></a>
      </div>
    </div>
    <div class="table">
      {% if html_table %}
        {{ html_table | safe }}
      {% else %}
        <p>No results found or an error occurred.</p>
      {% endif %}
    </div>
  </div>
</body>
</html>